/* ESTILOS GENERALES */

     html {
        height: 100%;
      }
     body {
        margin: 0;
        padding: 0;
        overflow: hidden;
        position: fixed;
        cursor: default;
        width: 100%;
        height: 100%;
      }
	 .contenedor {
        display: flex;
        align-items: center;
        justify-content: center;
        max-height: 100%;
        max-width: 100%;
      }
      #panorama {
        height: 100vh;
      }
    /* Controles de pannellum, zoom y full screen */
   
    .ctrl {
        position: absolute;
        z-index: 2;
        right: 5%;
        bottom: 0px;
        height: 40px;
        width: 40px;
        text-align: center;
        background-image: url("svg/fullscreenBlanco.svg");
        cursor: pointer;
        margin-bottom: 20px;
        margin-right: 5px; 
        background-size:cover;
        background-position: center;
        transition: width 0.5s, height 0.5s;
    }
    .ctrl:hover {
        height: 60px;
        width: 60px;
    }

/* ICONOS PUNTOS SENSIBLES */

 .custom-hotspot-escaleras {
        height: 80px;
        width: 80px;
        background-image: url("svg/elevator.svg");
        background-size:cover;
        background-position: center;
        transition: width 0.5s, height 0.5s;
    }

.custom-hotspot-info,
.custom-hotspot-salto,
.custom-hotspot-atras{
        height: 60px;
        width: 60px;
        background-size:cover;
        background-position: center;
        transition: width 0.5s, height 0.5s;
    }

.custom-hotspot-info {background-image: url("svg/eyeBlanco.svg");}
.custom-hotspot-salto {background-image: url("svg/saltoBlanco.svg");}
.custom-hotspot-atras {background-image: url("svg/puertaBlanco.svg");}


.custom-hotspot-escaleras:hover {
        height: 90px;
        width: 90px;
}

.custom-hotspot-info:hover,
.custom-hotspot-salto:hover,
.custom-hotspot-atras:hover{
        height: 80px;
        width: 80px;
}

/* PANEL INFORMACION */

/* Modal Content */
.modal-content {
    position: relative;
    margin: auto;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    min-width: 300px;
    min-height: 150px;
    max-width: 40%;
    height: auto;
    background: white;
    border-radius: 5px;
    
}

.wrapper {
  max-width: 350px;
  text-align: center;
  display: inline-block;
  margin-bottom: 20px;
}

#mas {
  background-image: url("svg/plus-circle.svg");
  width: 40px;
  height: 40px;
  background-size:cover;
  background-position: center;
  margin-bottom: 10px;
}

#desBreve {
   font-weight: bold;
   font-size: 1.2em;
}

.modal {
    display: none; 
    position: fixed; 
    z-index: 100; 
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgba(0,0,0,0.6); 
}

.modal-header {
    
    background-color: #3b3b3b;
    width: 100%;
    color: white;
    padding-bottom: 10px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
    line-height: 2;
}

.modal-header h3 {  
  margin-left: 10px;
  text-align: center;
}

.modal-content img {  
  width: 300px;
  height: auto;
  text-align: center;
}

#close {
  position: absolute;
  right: 20px;
  font-size: 1.8em;
  font-weight: bold;
}

#close:hover {
  color: black;
}


/* ESCALERAS */

.modalEscaleras {
    display: none; 
    position: fixed; 
    z-index: 100; 
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgba(0,0,0,0.6); 
}



.plantas {
    display: block;
    margin: auto;
    font-size: 1.2em;
    padding: 22px 16px;
    color:white;
    width: 30%;
    border: none;
    background-color: #3b3b3b;
    outline: none;
    text-align: center;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
    line-height: 2;
}

.plantas::after {
    content: '';
    display: block;
    width: 0;
    height: 3px;
    background: #ffffff;
    transition: width .3s;
}

.plantas:hover::after {
    width: 100%;
    transition: width .3s;
    
}

.plantas:hover {
   background-color: #535353;
}


/* antiguo mapa */
/*#transparente {
    z-index: 2;
    width: 300px;
    height: 300px;
    overflow: hidden;
    -webkit-transition: 0.5s;
    position: absolute;
    left: 0px;
    bottom: 0px;
    padding: 8px 5px;
    margin-bottom: 10px;
    margin-left: 5px; 
}
#movil {
    z-index: 7;
    position: relative;
    background-image: url("mapanegro.png"); 
    background-size: 100% 100%;
    height: 569px; 
    width: 889px; 
    opacity: 0.7;
    top: -200px;
    left: -366px;
}*/
/*.punto-minimapa{
    position: absolute;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: white;
}*/
#punto{
    pointer-events: auto;
    position: absolute;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: cyan;
}
#punto2{
    pointer-events: auto;
    position: absolute;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: cyan;
}
/*nuevo mapa*/

#mapa{
    pointer-events:none;
    z-index: 2;
    position: absolute;
    overflow: visible;
    /*background-color: black;   */
}
#sotano{
    background-image: url("sotano.png");
}
#primer_piso{
    background-image: url("plantabaja.png");
}
#segundo_piso{
    background-image: url("planta1.png"); 
}
#tercer_piso{
    background-image: url("planta2.png"); 
}

#subir_piso{
    bottom: 0px;
    margin-bottom: 100px;
    z-index: 2;
    position: absolute;
    background-image: url("svg/subirpiso.svg");
    background-size: 100% 100%;
    width: 40px;
    height: 40px;
}
#bajar_piso{
    bottom: 0px;
    margin-bottom: 50px;
    z-index: 2;
    position: absolute;
    background-image: url("svg/bajarpiso.svg");
    background-size: 100% 100%;
    width: 40px;
    height: 40px;
}
#boton_mapa{
    bottom: 0px;
    margin-bottom: 10px;
    z-index: 2;
    position: absolute;
    background-image: url("svg/pinned.svg");
    background-size: 100% 100%;
    width: 40px;
    height: 40px;
    
}
.pisos{
    background-size: 100% 100%;
    opacity: 0.6;
    position: absolute;
    pointer-events: none;
    width: 100%;
    height: 100%;
    transition: left .5s;
}
.piso_cerrado{
    left:-300%;
}
.piso_abierto{
   left:0.5%;
}

.cerrado{
    transition: left .5s;
    left: -300%;
}
.abierto{
    transition: left .5s;
    left: 0.5%;
}
/*.cerrado_boton{
    transition: left .5s;
    left: 0.5%;
}*/
/*.abierto_boton{
    transition: left .5s;
    left: 45%;
}*/







